@font-face {
    font-family: "Intro Regular";
    url: src("../../assets/fonts/Intro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Proxima Nova Regular";
    url: src("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}